body {
    background-color: #f1f1f1f9;
    font-family: Arial, Helvetica, sans-serif;

}

#header {
    background-color: #333;
    color: #f1f1f1f9;
    padding: 10px;
    text-align: left;
}

#footer {
    background-color: #333;
    color: #f1f1f1f9;
    padding: 10px;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
}